
Дополнения к программе/Текст для приложения/~$кст для приложения .docx
*.pyc
Дополнения к программе/Алгоритм программы/~$$Алгоритм программы.~vsdx
Дополнения к программе/Текст для приложения/~WRL0003.tmp
db/user.db
