data/Дополнения к программе/Текст для приложения/~$кст для приложения .docx
*.pyc
data/Дополнения к программе/Алгоритм программы/~$$Алгоритм программы.~vsdx
data/Дополнения к программе/Текст для приложения/~WRL0003.tmp
data/user.db
.env
